@charset "UTF-8";
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #011c40;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

@media (max-width: 47.99875em) {
  body.lock {
    overflow: hidden;
  }
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 72.5rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.checkbox {
  position: relative;
}
.checkbox:not(:last-child) {
  margin-bottom: 0.3125em;
}
.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.checkbox__input:focus + .checkbox__label:before {
  box-shadow: 0 0 5px #000;
}
.checkbox__input:checked + .checkbox__label:before {
  background: #f9fbfd url("../img/icons/icon-check.svg") center/12px 8px no-repeat;
}
.checkbox__label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  position: relative;
  gap: 10px;
}
.checkbox__label:before {
  content: "";
  align-self: flex-start;
  flex: 0 0 20px;
  width: 20px;
  height: 20px;
  background-color: #f9fbfd;
}
.checkbox__text {
  font-size: 0.625rem;
  line-height: 130%;
  color: #f9fbfd;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

body.popup-show::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
  display: grid;
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}
.lock .popup__content {
  visibility: visible;
}

.popup__close {
  justify-self: end;
}
.popup__close span {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
}
.popup__close span:before, .popup__close span:after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #011c40;
}
.popup__close span:before {
  transform: rotate(45deg);
  left: 0;
}
.popup__close span:after {
  transform: rotate(-45deg);
  right: 0;
}

.popup__text {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  justify-self: center;
  max-width: 500px;
}
.popup__text span.popup-big {
  font-weight: 700;
  font-size: 28px;
}
.popup__text > *:not(:last-child) {
  margin-bottom: 30px;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.logo {
  min-width: 38px;
  transition: all 0.3s ease-in 0s;
}
@media (max-width: 63.93625em) {
  .logo {
    width: 38px;
  }
}
@media (max-width: 47.99875em) {
  .logo {
    /*width: 42px;
    height: 22px;*/
  }
}

.logo a svg {
  fill: #f9fbfd;
  width: 70px;
  height: 38px;
  transition: all 0.5s ease 0s;
}
@media (max-width: 63.93625em) {
  .logo a svg {
    width: 38px;
    height: auto;
  }
}
@media (max-width: 47.99875em) {
  .logo a svg {
    width: 42px;
  }
}

/*Логотоип в бургере*/
/*.burger__logo {
	width: 42px;
	margin-bottom: 50px;
	@media (min-width: 768px) {
		display: none;
	}
	& svg {	
		fill: $mainColor;
	}
}*/
.header {
  color: #f9fbfd;
  position: absolute;
  top: 35px;
  width: 100%;
  min-height: 6.75rem;
}
@media (max-width: 63.93625em) and (min-width: 47.99875em) {
  .header {
    top: 1.875rem;
  }
}
@media (max-width: 63.93625em) and (min-width: 19.99875em) and (max-width: 47.99875em) {
  .header {
    top: clamp( 1.25rem , 0.8035993304rem  +  2.2321428571vw , 1.875rem );
  }
}
@media (max-width: 63.93625em) and (max-width: 19.99875em) {
  .header {
    top: 1.25rem;
  }
}
.header__body {
  display: flex;
  column-gap: 15px;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 85.375em) {
  .header__body {
    font-size: 1rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 85.375em) {
  .header__body {
    font-size: clamp( 0.875rem , 0.7144744323rem  +  0.3344369754vw , 1rem );
  }
}
@media (max-width: 47.99875em) {
  .header__body {
    font-size: 0.875rem;
  }
}
@media (min-width: 47.99875em) {
  .header__body {
    font-size: 0.875rem;
  }
}
@media (min-width: 19.99875em) and (max-width: 47.99875em) {
  .header__body {
    font-size: clamp( 0.875rem , 1.3035602679rem  +  -0.8928571429vw , 1.125rem );
  }
}
@media (max-width: 19.99875em) {
  .header__body {
    font-size: 1.125rem;
  }
}
@media (max-width: 47.99875em) {
  .header__menu {
    /*background-color: $WhiteColor;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    height: 40%;
    padding: 20px 15px;
    z-index: 2;*/
  }
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 47.99875em) {
  .menu__list {
    flex-direction: column;
    align-items: start;
    gap: 23px;
  }
}
@media (min-width: 85.375em) {
  .menu__item:not(:last-child) {
    margin-right: 2.0625rem;
  }
}
@media (min-width: 47.9375em) and (max-width: 85.375em) {
  .menu__item:not(:last-child) {
    margin-right: clamp( 1.4375rem , 0.6372078464rem  +  1.6694490818vw , 2.0625rem );
  }
}
@media (max-width: 47.9375em) {
  .menu__item:not(:last-child) {
    margin-right: 1.4375rem;
  }
}
.menu__link {
  position: relative;
}
.menu__link:after {
  content: "";
  width: 0;
  position: absolute;
  height: 1px;
  left: 0;
  bottom: -2px;
  background-color: #f9fbfd;
  transition: all 0.3s ease 0s;
}
.menu__link:hover:after {
  width: 100%;
}

@media (max-width: 47.99875em) {
  .header .menu__list {
    font-size: 1.125rem;
    color: #011c40;
  }
}

@media (max-width: 47.99875em) {
  .header .menu__body {
    background-color: #f9fbfd;
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    overflow: auto;
    padding: 90px 15px 20px 15px;
    z-index: 2;
    transition: all 0.3s ease 0s;
  }
}

.menu-open .header .menu__body {
  left: 0;
}
.menu-open .menu__list {
  transform: translate(0);
}
.menu-open .menu__link:after {
  background-color: #011c40;
}
.menu-open .logo {
  position: relative;
  z-index: 30;
}
.menu-open .logo svg {
  fill: #011c40;
}
.menu-open .icon-menu span, .menu-open .icon-menu::before, .menu-open .icon-menu::after {
  background-color: #011c40;
}

.menu__list {
  font-weight: 500;
}
@media (max-width: 47.99875em) {
  .menu__list {
    transform: translate(-100%, 0);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 24px;
    height: 16px;
    cursor: pointer;
    z-index: 5;
    margin-left: auto;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #f9fbfd;
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.footer__top {
  background-color: #e5e5e5;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}
@media (max-width: 63.93625em) and (min-width: 63.93625em) {
  .footer__top {
    padding-top: 6.25rem;
  }
}
@media (max-width: 63.93625em) and (min-width: 19.99875em) and (max-width: 63.93625em) {
  .footer__top {
    padding-top: clamp( 4.0625rem , 3.0668296586rem  +  4.9786628734vw , 6.25rem );
  }
}
@media (max-width: 63.93625em) and (max-width: 19.99875em) {
  .footer__top {
    padding-top: 4.0625rem;
  }
}
@media (max-width: 63.93625em) and (min-width: 63.93625em) {
  .footer__top {
    padding-bottom: 6.25rem;
  }
}
@media (max-width: 63.93625em) and (min-width: 19.99875em) and (max-width: 63.93625em) {
  .footer__top {
    padding-bottom: clamp( 4.0625rem , 3.0668296586rem  +  4.9786628734vw , 6.25rem );
  }
}
@media (max-width: 63.93625em) and (max-width: 19.99875em) {
  .footer__top {
    padding-bottom: 4.0625rem;
  }
}
.footer__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
@media (max-width: 47.99875em) {
  .footer__body {
    flex-direction: column-reverse;
    gap: 40px;
  }
}
.footer__map {
  overflow: hidden;
  max-width: 560px;
  flex-grow: 1;
}
@media (max-width: 47.99875em) {
  .footer__map {
    flex: 0 0 100%;
    width: 100%;
    order: 2;
  }
}
.footer__map iframe {
  width: 100%;
}
.footer__content {
  line-height: 150%;
  max-width: 500px;
}
.footer__text {
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 45px;
}
.footer__contact {
  font-size: 1rem;
  display: flex;
  align-items: center;
  min-height: 22px;
  column-gap: 10px;
}
.footer__adress {
  margin-bottom: 33px;
}
.footer__adress:before {
  content: "";
  width: 18px;
  height: 22px;
  background: url("../img/icons/icon-map.svg") 0 0/18px 22px no-repeat;
}
.footer__phone {
  min-height: 18px;
}
.footer__phone:before {
  content: "";
  width: 18px;
  height: 22px;
  background: url("../img/icons/icon-phone.svg") 0 0/18px 18px no-repeat;
}

/*==========FOOTER-BOTTOM==========*/
.bottom {
  background-color: #011c40;
  color: #f9fbfd;
}
@media (min-width: 63.93625em) {
  .bottom {
    padding-top: 3.125rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 63.93625em) {
  .bottom {
    padding-top: clamp( 2.5rem , 0.6176960784rem  +  3.9215686275vw , 3.125rem );
  }
}
@media (max-width: 47.99875em) {
  .bottom {
    padding-top: 2.5rem;
  }
}
@media (min-width: 63.93625em) {
  .bottom {
    padding-bottom: 3.125rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 63.93625em) {
  .bottom {
    padding-bottom: clamp( 2.5rem , 0.6176960784rem  +  3.9215686275vw , 3.125rem );
  }
}
@media (max-width: 47.99875em) {
  .bottom {
    padding-bottom: 2.5rem;
  }
}
.bottom__body {
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  justify-content: start;
  gap: 40px;
}
@media (max-width: 47.99875em) {
  .bottom__body {
    grid-template-columns: 1fr;
    gap: 30px;
    justify-items: start;
  }
}
.bottom__menu {
  font-weight: 500;
  line-height: 125%;
}
@media (min-width: 85.375em) {
  .bottom__menu {
    font-size: 1rem;
  }
}
@media (min-width: 63.93625em) and (max-width: 85.375em) {
  .bottom__menu {
    font-size: clamp( 0.75rem , 0.0044312285rem  +  1.1661127631vw , 1rem );
  }
}
@media (max-width: 63.93625em) {
  .bottom__menu {
    font-size: 0.75rem;
  }
}
.social {
  justify-self: end;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  gap: 33px;
  justify-items: end;
  transition: all 0.3s ease 0s;
}
.social li {
  transition: all 0.3s ease 0s;
}
.social li:hover {
  transform: scale(1.2);
}

.social__item img {
  width: 100%;
  height: auto;
}

li.social__item:hover {
  transform: scale(1.5);
}

/*==========MAINPAGE==========*/
.mainpage {
  background: url("../img/mainpage-bg.jpg") 0 0/cover no-repeat;
  color: #f9fbfd;
  padding-top: 283px;
  padding-bottom: 100px;
  min-height: 31.25rem;
}
@media (min-width: 85.375em) {
  .mainpage {
    min-height: 40.625rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 85.375em) {
  .mainpage {
    min-height: clamp( 39.875rem , 38.9118465938rem  +  2.0066218521vw , 40.625rem );
  }
}
@media (min-width: 47.99875em) {
  .mainpage {
    font-size: 39.875rem;
  }
}
@media (min-width: 19.99875em) and (max-width: 47.99875em) {
  .mainpage {
    font-size: clamp( 31.25rem , 25.0896707589rem  +  30.8035714286vw , 39.875rem );
  }
}
@media (max-width: 19.99875em) {
  .mainpage {
    font-size: 31.25rem;
  }
}
@media (max-width: 63.93625em) and (min-width: 47.99875em) {
  .mainpage {
    padding-top: 17.5rem;
  }
}
@media (max-width: 63.93625em) and (min-width: 19.99875em) and (max-width: 47.99875em) {
  .mainpage {
    padding-top: clamp( 11.5625rem , 7.3216936384rem  +  21.2053571429vw , 17.5rem );
  }
}
@media (max-width: 63.93625em) and (max-width: 19.99875em) {
  .mainpage {
    padding-top: 11.5625rem;
  }
}
@media (max-width: 47.99875em) {
  .mainpage {
    background: linear-gradient(0deg, rgba(1, 28, 64, 0.5) 60%, rgba(1, 28, 64, 0.2) 100%), url("../img/mainpage-bg.jpg") 0 0/cover no-repeat;
    /*background-blend-mode: saturation;*/
  }
}
.mainpage__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 85.375em) {
  .mainpage__body {
    padding-left: 6.25rem;
  }
}
@media (min-width: 63.93625em) and (max-width: 85.375em) {
  .mainpage__body {
    padding-left: clamp( 0.00000625rem , -18.6391943983rem  +  29.1527899248vw , 6.25rem );
  }
}
@media (max-width: 63.93625em) {
  .mainpage__body {
    padding-left: 0.00000625rem;
  }
}
.mainpage__title {
  font-weight: 700;
  line-height: 122%;
  margin-bottom: 1.875rem;
}
@media (min-width: 85.375em) {
  .mainpage__title {
    font-size: 3.375rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 85.375em) {
  .mainpage__title {
    font-size: clamp( 3.125rem , 2.8039488646rem  +  0.6688739507vw , 3.375rem );
  }
}
@media (max-width: 47.99875em) {
  .mainpage__title {
    font-size: 3.125rem;
  }
}
@media (min-width: 47.99875em) {
  .mainpage__title {
    font-size: 3.125rem;
  }
}
@media (min-width: 19.99875em) and (max-width: 47.99875em) {
  .mainpage__title {
    font-size: clamp( 2.25rem , 1.6250390625rem  +  3.125vw , 3.125rem );
  }
}
@media (max-width: 19.99875em) {
  .mainpage__title {
    font-size: 2.25rem;
  }
}
@media (max-width: 63.93625em) and (min-width: 47.99875em) {
  .mainpage__title {
    margin-bottom: 1.8125rem;
  }
}
@media (max-width: 63.93625em) and (min-width: 19.99875em) and (max-width: 47.99875em) {
  .mainpage__title {
    margin-bottom: clamp( 1.5625rem , 1.3839397321rem  +  0.8928571429vw , 1.8125rem );
  }
}
@media (max-width: 63.93625em) and (max-width: 19.99875em) {
  .mainpage__title {
    margin-bottom: 1.5625rem;
  }
}
@media (min-width: 85.375em) {
  .mainpage__subtitle {
    font-size: 1.25rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 85.375em) {
  .mainpage__subtitle {
    font-size: clamp( 1.125rem , 0.9644744323rem  +  0.3344369754vw , 1.25rem );
  }
}
@media (max-width: 47.99875em) {
  .mainpage__subtitle {
    font-size: 1.125rem;
  }
}
@media (min-width: 47.99875em) {
  .mainpage__subtitle {
    font-size: 1.125rem;
  }
}
@media (min-width: 19.99875em) and (max-width: 47.99875em) {
  .mainpage__subtitle {
    font-size: clamp( 1rem , 0.9107198661rem  +  0.4464285714vw , 1.125rem );
  }
}
@media (max-width: 19.99875em) {
  .mainpage__subtitle {
    font-size: 1rem;
  }
}

/*==========TRAVEL-DESCRIPTION==========*/
.travel-description {
  background-color: #e5e5e5;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}
@media (max-width: 63.93625em) and (min-width: 63.93625em) {
  .travel-description {
    padding-top: 6.25rem;
  }
}
@media (max-width: 63.93625em) and (min-width: 19.99875em) and (max-width: 63.93625em) {
  .travel-description {
    padding-top: clamp( 4.0625rem , 3.0668296586rem  +  4.9786628734vw , 6.25rem );
  }
}
@media (max-width: 63.93625em) and (max-width: 19.99875em) {
  .travel-description {
    padding-top: 4.0625rem;
  }
}
@media (max-width: 63.93625em) and (min-width: 63.93625em) {
  .travel-description {
    padding-bottom: 6.25rem;
  }
}
@media (max-width: 63.93625em) and (min-width: 19.99875em) and (max-width: 63.93625em) {
  .travel-description {
    padding-bottom: clamp( 4.0625rem , 3.0668296586rem  +  4.9786628734vw , 6.25rem );
  }
}
@media (max-width: 63.93625em) and (max-width: 19.99875em) {
  .travel-description {
    padding-bottom: 4.0625rem;
  }
}
.travel-description__body {
  display: flex;
  align-items: center;
}
@media (max-width: 63.93625em) {
  .travel-description__body {
    flex-direction: column;
  }
}
.travel-description__content {
  transition: all 0.3s ease 0s;
}
@media (min-width: 85.375em) {
  .travel-description__content {
    margin-right: 5.5rem;
  }
}
@media (min-width: 19.99875em) and (max-width: 85.375em) {
  .travel-description__content {
    margin-right: clamp( 1.875rem , 0.7661038986rem  +  5.5448270588vw , 5.5rem );
  }
}
@media (max-width: 63.93625em) {
  .travel-description__content {
    margin-bottom: 30px;
  }
}
.travel-description__text {
  font-size: 1rem;
  line-height: 150%;
}
.travel-description__image {
  align-self: flex-start;
  flex: 0 0 48.275%;
}
@media (max-width: 63.93625em) {
  .travel-description__image {
    flex: 0 0 100%;
    width: 100%;
  }
}
.travel-description__image-ibg {
  padding-bottom: 55%;
}
@media (max-width: 63.93625em) {
  .travel-description__image-ibg {
    padding-bottom: 53.75%;
  }
}

.title {
  font-weight: 600;
  font-size: 28px;
}
@media (min-width: 85.375em) {
  .title {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 85.375em) {
  .title {
    margin-bottom: clamp( 1.875rem , 1.0723721615rem  +  1.6721848768vw , 2.5rem );
  }
}
@media (max-width: 47.99875em) {
  .title {
    margin-bottom: 1.875rem;
  }
}
@media (max-width: 63.93625em) {
  .title {
    font-size: 26px;
  }
}
@media (max-width: 63.93625em) {
  .title {
    font-size: 24px;
  }
}

/*==========ADVANTAGES==========*/
.advantages {
  background: url("../img/advantages-bg.jpg") 0 0/cover no-repeat;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}
@media (max-width: 63.93625em) and (min-width: 63.93625em) {
  .advantages {
    padding-top: 6.25rem;
  }
}
@media (max-width: 63.93625em) and (min-width: 19.99875em) and (max-width: 63.93625em) {
  .advantages {
    padding-top: clamp( 4.0625rem , 3.0668296586rem  +  4.9786628734vw , 6.25rem );
  }
}
@media (max-width: 63.93625em) and (max-width: 19.99875em) {
  .advantages {
    padding-top: 4.0625rem;
  }
}
@media (max-width: 63.93625em) and (min-width: 63.93625em) {
  .advantages {
    padding-bottom: 6.25rem;
  }
}
@media (max-width: 63.93625em) and (min-width: 19.99875em) and (max-width: 63.93625em) {
  .advantages {
    padding-bottom: clamp( 4.0625rem , 3.0668296586rem  +  4.9786628734vw , 6.25rem );
  }
}
@media (max-width: 63.93625em) and (max-width: 19.99875em) {
  .advantages {
    padding-bottom: 4.0625rem;
  }
}
.advantages__title {
  text-align: center;
}
.advantages__body {
  display: flex;
  /*align-items: flex-start;*/
  margin: 0 -20px;
}
@media (max-width: 63.93625em) {
  .advantages__body {
    margin: 0 -15px;
  }
}
@media (max-width: 47.99875em) {
  .advantages__body {
    margin: 0;
    flex-direction: column;
    row-gap: 30px;
  }
}
.advantages__items {
  padding: 0 20px;
  display: flex;
  flex: 0 0 33.333%;
}
@media (max-width: 63.93625em) {
  .advantages__items {
    padding: 0 15px;
  }
}
@media (max-width: 47.99875em) {
  .advantages__items {
    padding: 0;
  }
}
.advantages__item {
  background: #f9fbfd;
  padding: 1.875rem;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in 0s;
}
@media (max-width: 63.93625em) {
  .advantages__item {
    padding: 1.5625rem 1.25rem;
  }
}
.advantages__item:hover {
  background: #011c40;
  color: #f9fbfd;
}

.item-advantage__image {
  min-height: 32px;
  margin-bottom: 22px;
  display: flex;
  align-items: center;
}
.item-advantage__title {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 20px;
}
.item-advantage__text {
  line-height: 140%;
  flex: 1 0 auto;
}

.item-advantage svg path {
  fill: #011c40;
  transition: all 0.3s ease-in 0s;
}

.item-advantage:hover svg path {
  fill: #f9fbfd;
}

/*==========CRUISES==========*/
.cruises {
  background-color: #e5e5e5;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}
@media (max-width: 63.93625em) and (min-width: 63.93625em) {
  .cruises {
    padding-top: 6.25rem;
  }
}
@media (max-width: 63.93625em) and (min-width: 19.99875em) and (max-width: 63.93625em) {
  .cruises {
    padding-top: clamp( 4.0625rem , 3.0668296586rem  +  4.9786628734vw , 6.25rem );
  }
}
@media (max-width: 63.93625em) and (max-width: 19.99875em) {
  .cruises {
    padding-top: 4.0625rem;
  }
}
@media (max-width: 63.93625em) and (min-width: 63.93625em) {
  .cruises {
    padding-bottom: 6.25rem;
  }
}
@media (max-width: 63.93625em) and (min-width: 19.99875em) and (max-width: 63.93625em) {
  .cruises {
    padding-bottom: clamp( 4.0625rem , 3.0668296586rem  +  4.9786628734vw , 6.25rem );
  }
}
@media (max-width: 63.93625em) and (max-width: 19.99875em) {
  .cruises {
    padding-bottom: 4.0625rem;
  }
}
.cruises__title {
  text-align: center;
}
.cruises__body {
  color: #f9fbfd;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
@media (max-width: 63.93625em) {
  .cruises__body {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 47.99875em) {
  .cruises__body {
    grid-template-columns: 1fr;
  }
}
.cruise-card {
  position: relative;
  overflow: hidden;
}
.cruise-card:hover {
  overflow: visible;
}
.cruise-card:hover .cruise-card__info {
  top: 0;
  left: 0;
  transform: perspective(600px) scale(1) rotateX(0);
}
.cruise-card__front {
  position: relative;
}
.cruise-card__front .cruise-card__title {
  position: absolute;
  bottom: 1.875rem;
  left: 1.875rem;
}
.cruise-card__image-ibg {
  padding-bottom: 148.462%;
}
.cruise-card__title {
  font-size: 1.125rem;
  line-height: 150%;
  font-weight: 500;
}
.cruise-card__info {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 35px 25px;
  background-color: #011c40;
  display: grid;
  row-gap: 25px;
  transform: perspective(600px) scale(0) rotateX(45deg);
  transition: all 0.3s ease-in 0s;
}
.cruise-card__info .cruise-card__title {
  margin-bottom: 5px;
  line-height: 150%;
}

.info-cruise__item {
  line-height: 140%;
  font-size: 0.875rem;
}

.item-info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.item-info__title {
  font-weight: 500;
}
.body-info {
  flex-direction: column;
  row-gap: 20px;
}

.cruise-button {
  align-self: end;
}

.button-white {
  position: relative;
  display: block;
  padding: 14px;
  background-color: #f9fbfd;
  color: #011c40;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 150%;
  text-align: center;
  border: 2px solid transparent;
}
.button-white span {
  position: relative;
  z-index: 5;
  transition: all 0.3s ease 0s;
}
.button-white:hover {
  border-color: #f9fbfd;
}
.button-white:hover span {
  color: #f9fbfd;
}
.button-white:before {
  content: "";
  position: absolute;
  background-color: #011c40;
  clip-path: circle(0px at center);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  transition: all 0.3s ease-out 0s;
}
.button-white:hover:before {
  clip-path: circle(100% at center);
}

/*==========BOOKING==========*/
.booking {
  background: url("../img/booking-bg.jpg") 0 0/cover no-repeat;
  padding-top: 50px;
  padding-bottom: 50px;
  transition: all 0.3s ease 0s;
}
@media (max-width: 63.93625em) {
  .booking {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 47.99875em) {
  .booking {
    padding-top: 65px;
    padding-bottom: 65px;
  }
}
.booking__body {
  display: flex;
  justify-content: space-around;
  column-gap: 15px;
  align-items: center;
}
@media (max-width: 63.93625em) {
  .booking__body {
    flex-direction: column;
    row-gap: 60px;
  }
}
@media (max-width: 63.93625em) {
  .booking__body {
    row-gap: 40px;
  }
}
@media (max-width: 63.93625em) {
  .booking__content {
    text-align: center;
  }
}
.booking__title {
  font-size: 2.5rem;
  line-height: 130%;
  font-weight: 700;
}
@media (min-width: 85.375em) {
  .booking__title {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 63.93625em) and (max-width: 85.375em) {
  .booking__title {
    margin-bottom: clamp( 1.5625rem , -3.0973048219rem  +  7.2882047694vw , 3.125rem );
  }
}
@media (max-width: 63.93625em) {
  .booking__title {
    margin-bottom: 1.5625rem;
  }
}
@media (max-width: 63.93625em) {
  .booking__title {
    font-size: 2.125rem;
  }
}
@media (max-width: 47.99875em) {
  .booking__title {
    font-size: 1.5rem;
  }
}
.booking__text {
  font-size: 1.125rem;
  line-height: 150%;
  max-width: 22rem;
}
@media (max-width: 47.99875em) {
  .booking__text {
    font-size: 1rem;
    line-height: 140%;
  }
}
.booking__form {
  flex: 0 0 34.7424%;
}
@media (min-width: 63.93625em) {
  .booking__form {
    padding: 3.125rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 63.93625em) {
  .booking__form {
    padding: clamp( 2.5rem , 0.6176960784rem  +  3.9215686275vw , 3.125rem );
  }
}
@media (max-width: 47.99875em) {
  .booking__form {
    padding: 2.5rem;
  }
}

.form-box {
  background-color: #011c40;
}
.form-box__title {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 150%;
  color: #f9fbfd;
  margin-bottom: 2.1875rem;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.form__item {
  position: relative;
}
.form__input,
.form__textarea {
  cursor: text;
  width: 100%;
  background-color: #f9fbfd;
  outline: none;
  color: #011c40;
  transition: all 0.3s ease-in;
  font-size: 0.875rem;
  padding: 16px;
}

.form__input:focus {
  box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown) ~ .form__label,
.form__textarea:focus ~ .form__label,
.form__textarea:not(:placeholder-shown) ~ .form__label {
  top: 7px;
  font-size: 8px;
  color: inherit;
}

.form__label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 24px;
  color: #011c40;
  transition: all 0.3s ease-in;
}

/*==========SECTION NAME==========*/
/*==========SECTION NAME==========*/
/*==========SECTION NAME==========*/
